<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Quel arrondissement est fait pour vous ?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<script src="https://d3js.org/topojson.v2.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!--D3 geo projection extension -->
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<a href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/arrondissements/index.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<h1 id="colorlib-logo"><a href="index.html">Paris des accès</a></h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li class="colorlib-active"><a href="index.html">Accueil</a></li>
					<li><a href="arrondissement.html">Quel arrondissement ?</a></li>
					<li><a href="musees.html">Les musées</a></li>
					<li><a href="nuit.html">Les nuits</a></li>
					<li><a href="projet.html">Le projet</a></li>
				</ul>
			</nav>

			<div class="colorlib-footer">
				<img style="width:140px;" src="images/logo_sciencespo_ecole_journalisme2.png" /><p><small>This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </span></small></p>
			</div>

		</aside>

		<div id="colorlib-main">
			<div class="colorlib-blog">
				<div class="container-wrap">
					<div class="row">
						<div class="col-md-9">
							<div class="content-wrap">
								<article class="animate-box">
									<div class="blog-img" style="background-image: url(images/blog-1.png);"></div>
									<div class="desc paper">
										<div class="meta">
											<p>
												<span style="margin-bottom: 10px;">1er mars 2019</span>
												<span>Camille Camdessus</span>
												<span>David Pauget</span>
												<span>Léa Sanchez</span>
												<span>Aliénor Vinçotte</span>
												<span>Yingke Zhao</span>
							
											</p>
										</div>
										<h2 id="title_page">Quel arrondissement est fait pour vous ?</h2>
										<div class="intro" id="introPart">
										<div>Nous sommes le {{ day }} {{ now.getDate() }} {{ month }} {{ now.getFullYear() }}. {{ intro }}
										</div>
										<div>{{ introquestion }}
										</div>
									</div>
									</div>
									<div id="app" class="paper container desc" v-cloak>
  
										<main class="d-flex align-items-center justify-content-md-center row" v-cloak>
										  <div class="toCenter">
											<button v-if="current == -1" id="start" class="btn btn-lg btn-block choice start rounded" v-on:click="start()">C'est parti !</button>
								  
											<div id="card_question" class="card question" v-if="current < quiz.length && current >= 0">
												<div class="card-header text-white bg-dark">{{ step.question }}</div>
												
												<button v-if="step.type == 'choice'" v-for="choice in step.choices" class="btn btn-lg btn-block choice rounded" v-on:click="submitButton(choice)">{{ choice }}</button>
												<input  required="required" type="text" ref="textInput" v-if="step.type == 'text'" class="form-control" placeholder="Écrivez votre réponse" v-on:keyup.enter="submitText()">

												<div v-if="step.type == 'select'" class="">
									
													<div class="row">
													
												
														<button id="education" class="col-lg-3 col-sm-4 col-3" v-on:click="getSubChoices('education')">Education</button>
														<button id="loisirs" class="col-lg-3 col-sm-4 col-3" v-on:click="getSubChoices('loisirs')">Culture</button>
														<button id="sport"  class="col-lg-3 col-sm-4 col-3"v-on:click="getSubChoices('sport')">Sports</button>
														<button class="col-lg-3 col-sm-4 col-3" id="politique" v-on:click="getSubChoices('politique')">Administratif</button>
							
								  					</div>
													  <div class="education item" v-for="(item, index) in step.items" v-if="item.type == 'Education'" >
														<input type="checkbox" class="possibilities" v-bind:name="getInputInfo(index, 'name')"> 
														<label for="getInputInfo(index, 'name')">{{ item.name }}</label>
													  </div>
												   
													  <div class="politique item" v-for="(item, index) in step.items" v-if="item.type == 'Politique'" >
														<input type="checkbox" class="possibilities" v-bind:name="getInputInfo(index, 'name')"> 
														<label for="getInputInfo(index, 'name')">{{ item.name }}</label>
													  </div>
													
													  <div class="loisirs item" v-for="(item, index) in step.items" v-if="item.type == 'Culture et loisirs'" >
														<input type="checkbox" class="possibilities" v-bind:name="getInputInfo(index, 'name')"> 
														<label for="getInputInfo(index, 'name')">{{ item.name }}</label>
													  </div>
													  <div class="sport item" v-for="(item, index) in step.items" v-if="item.type == 'Sport'" >
														<input type="checkbox" class="possibilities" v-bind:name="getInputInfo(index, 'name')"> 
														<label for="getInputInfo(index, 'name')">{{ item.name }}</label>
													  </div>
												</div>
												<div class="card-header text-white bg-dark" v-if="step.type == 'choice'">	Nous ne pouvons malheureusement pas faire de calculs pour les handicaps psychiques, qui sont actuellement très peu pris en compte dans les problématiques d'accessibilité.</div>
												
											
												
												<button class="btn btn-lg btn-block next" v-if="step.type == 'text'" v-on:click="submitText()">Prochaine question</button>
												<button class="btn btn-lg btn-block next" v-if="step.type == 'select'" v-on:click="submitSelect()">Voir le résultat</button>
											</div>
								  
											<div class="card question" id="map_card" style="display: none;">
											  <svg class="paris_ardt" id="map"></svg>
												<div class="legend">
														<div><span class="noaccess">∎</span>Les moins accessibles</div>
														<div><span class="access4">∎</span>Les plus accessibles</div>
														<div><span class="access5">∎</span>Le plus accessible pour vous</div>
														
												</div>
										   </div>
								  
											<div class="card question" v-if="current == quiz.length">
												<h4 class="card-header text-white bg-dark" v-if="!error">Bravo {{ reader.name }}, vous avez terminé !</h4>
												<div class="card-text" v-if="error">{{ reader.name }}, merci d'avoir participé. {{ error }}</div>
												<div class="result" v-if="!error">Selon nos calculs, le {{ bestOne.num }}<span v-if="bestOne.num > 1">ème</span><span v-if="bestOne.num == 1">er</span> arrondissement est le plus adapté à votre handicap ({{ reader.handicap }}) et aux établissements dont vous avez le plus besoin (<span v-for="(place, index) in reader.places"><span v-if="index == reader.places.length - 1 && reader.places.length > 1"> et </span>{{ place }}<span v-if="index < reader.places.length - 2">, </span></span>).</div>
												<div class="result" v-if="reader.handicap == 'moteur' && !error">Le {{ bestOne.num }}<span v-if="bestOne.num > 1">ème</span><span v-if="bestOne.num == 1">er</span> arrondissement <span v-if="bestOne.ligne14 == 'NON'">ne bénéficie par contre pas </span><span v-if="bestOne.ligne14 == 'OUI'">bénéficie de plus </span>du passage de la ligne 14, qui est adaptée à votre handicap. Le tram <span v-if="bestOne.tram == 'OUI'">circule dans cet arrondissement.</span><span v-if="bestOne.tram == 'NON'">ne circule pas dans cet arrondissement.</span></div>
												<div class="video_handicap" v-if="!error && reader.handicap != 'handicaps multiples'">
													
													<div><span>Découvrez le témoignage d'une personne <span v-if="reader.handicap == 'visuel'">malvoyante et sourde</span><span v-if="reader.handicap == 'moteur'">handicapée moteur</span><span v-if="reader.handicap == 'auditif'">sourde</span>.</span></div>

														<iframe v-if="reader.handicap == 'auditif' && !error" frameborder="0" width="270" height="480" src="https://www.dailymotion.com/embed/video/x73a2qo" allowfullscreen=""></iframe>
												
														<iframe v-if="reader.handicap == 'visuel' && !error"  frameborder="0" width="270" height="480" src="https://www.dailymotion.com/embed/video/x739n0a" allowfullscreen></iframe>
												
														<iframe v-if="reader.handicap == 'moteur' && !error" frameborder="0" width="270" height="480" src="https://www.dailymotion.com/embed/video/x739oiz" allowfullscreen=""></iframe>
												</div>
				
                        <div class="article_handicap" v-if="!error">
														<h3 class="title_handicap">Handicap : où en est l’accessibilité des lieux publics à Paris ?</h3>
														<div class="subtitle_handicap"><strong>En 2015, la Ville de Paris s'est engagée à rendre accessible aux personnes en situation de handicap la quasi-totalité de ses établissements recevant du public (ERP) d'ici 2020. Où en est-on, à un an de l’échéance ?</strong></div>
														<div class="text_handicap">A Paris, comme dans les autres villes en France, l'accessibilité des établissements recevant du public (ERP) aux personnes en situation de handicap se fait encore attendre. En 2015, la Ville de Paris s'est engagée à rendre accessible aux personnes handicapées d'ici 2020 <i>« la quasi-totalité de ses établissements recevant du public »</i>, au nombre de 2700 (écoles, bibliothèques, crèches,  jardins, etc.), grâce à un investissement de 200 millions d'euros sur la période 2014-2020, <i>« trois fois supérieur à la mandature précédente »</i>.</div>
														<div class="text_handicap"><i>« Clairement, on accumule du retard »</i>, regrette Matthieu Annereau, président de l’Association pour la prise en compte du handicap dans les politiques publiques et privées (APHPP).  <i>« Certains lieux sont toujours inaccessibles : des marches, des pentes violentes pour les personnes à mobilité réduite ; un manque de signalisation, une absence de braille ou de synthèse vocale dans les ascenseurs pour les personnes déficientes visuelles ; et un problème de signalétique manquante pour les personnes déficientes mentales »</i>, énumère-t-il.</div>
														<div class="text_handicap"><strong>L’accessibilité pour 2018, 2021, voire 2024</strong></div>
														<div class="text_handicap">La « loi Handicap » de 2005 avait fixé la date butoir à 2015 pour l’accessibilité des lieux publics. En 2015, face au retard sur le respect de la législation, les délais ont été repoussés par le Parlement de 3, 6 et 9 ans. Soit 2018, 2021 et 2024 pour les différents types ERP, qui ont dû s’engager sur un <i>« agenda d'accessibilité programmé »</i> <span href="https://www.ecologique-solidaire.gouv.fr/ladap-agenda-daccessibilite-programmee">(Ad'ap)</span>.</div>
														<div class="text_handicap">Plus précisément, la date butoir de mise en conformité a été fixée à 2018 pour les établissements ayant une capacité d'accueil de 200 personnes. Les lieux de capacité supérieure ou <i>« en difficulté financière avérée »</i> ont respectivement jusqu’à 2021 et 2024. Quant aux transports, les délais maximums ont été fixés à 3 ans pour transports urbains, 6 ans pour les transports interurbains, et 9 ans pour le ferroviaire.</div>
														<div class="text_handicap"><i>« Le neuf ne pose pas de problème sur l’accessibilité, il n’y a pas, ou très peu, de dérogation. La difficulté, c’est sur l’ancien : on est sur du bâti, on ne peut pas repousser les murs »</i>, explique l’architecte Nicolas Mayeur. <i>« Les grands établissements, les grands magasins sont accessibles à Paris.  Mais la mise en accessibilité est compliquée pour les petits restaurants ou cinémas. Également pour les bâtiments historiques, qui sont classés »</i>, précise-t-il.</div>
														<div class="text_handicap"><strong>Seules 9 stations de métro sur 303 accessibles à Paris</strong></div>
														<div class="text_handicap">Un lieu est particulièrement inaccessible à Paris : le métro. Seules les 9 stations de la ligne 14 sont accessibles aux personnes handicapées, soit 3% du réseau de la capitale. A titre de comparaison, 18% du réseau de métro à Londres est accessible, 82% à Barcelone et 88% à Tokyo, selon APF France Handicap.</div>
														<div class="text_handicap"><i>« C’est important d’avoir certains ERP accessibles, comme les musées, les écoles, mais si la chaîne de mobilité les rend difficilement accessible, il y a une incohérence »</i>, souligne Matthieu Annereau. <i>« Certains bus sont encore inaccessibles, et certains taxis refusent de prendre ceux avec des chiens pour aveugles »</i>, ajoute-t-il.</div>
														<div class="text_handicap"><strong>« L’administration fait de plus en plus d’efforts »</strong></div>
														<div class="text_handicap"><i>« Notre gros problème est de faire comprendre que quand on parle d'accessibilité, ce n’est pas que le handicap moteur »</i>, explique de son côté Bruno Le Maire, vice-président de l’Unapei (Union nationale des associations de parents, de personnes handicapées mentales, et de leurs amis). Sur le sujet de l’accessibilité des ERP, le handicap mental est en effet généralement moins abordé, et ne figure pas par exemple sur les <span href="https://opendata.paris.fr/explore/dataset/accessibilite_des_equipements_de_la_ville_de_paris/information/">données de la Ville de Paris</span> sur l’accessibilité des équipements. <i>« Il y a des solutions comme le « facile à lire et à comprendre », les pictogrammes »</i>, souligne Bruno Le Maire.</div>
														<div class="text_handicap">Si l’accessibilité totale se fait attendre, l’évolution est positive selon les responsables associatifs.<i>« L’administration fait de plus en plus d’efforts, le personnel est plus sensibilisé. L’accueil est plus agréable. On le voit de plus en plus, même les services publics, avec la Poste, la SNCF, la RATP »</i> déclare Bruno Le Maire.</div>
														<div class="text_handicap">En juillet dernier, la Ville de Paris a lancé le site handicap.paris.fr, un outil d’information et d’accès aux droits et aux services pour les personnes en situation de handicap. Le Conseil de Paris a aussi précisé que 2 220 équipements et plus de 400 installations ouvertes au public seront mis en accessibilité d’ici 2024.</div>
													</div>
	

								
												<button id="startOver" class="btn btn-lg btn-block next" v-on:click="startOver()" v-if="current == quiz.length && !error">Et avec un autre handicap ?</button>
												<button id="comeBack" class="btn btn-lg btn-block next" v-on:click="comeBack()" v-if="current == quiz.length && error">Revenir à l'étape précédente</button>

												<div class="article_handicap methodo"> 
													<div class="text_handicap"><strong>Encadré méthodologie</strong></div>
													<div class="text_handicap">Le 2 août 2013 la Mairie de Paris a publié des données évaluant le niveau d’accessibilité de plus de 2200 équipements publics dans tous les arrondissements de la capitale. L’accessibilité de ces lieux administratifs, culturels, sportifs et d’éducation est exprimée sur une échelle variant de 0 (non accessible) à 4 (accessibilité totale pour le public et les employés), dans un document mis à jour le 13 mai 2017.</div>
													<div class="text_handicap">Ces statistiques ont été traitées dans une base de données qui nous a permis de dresser un palmarès des arrondissements accessibles en fonction des besoin de l’utilisateur : quel est son handicap? de quoi a t-il besoin près de chez lui, une crèche ou un jardin ?</div>
													<div class="text_handicap">Afin d’être aussi justes que possible, nous avons rapporté le nombre d'établissements à la population des arrondissements parisiens. Le calcul est disponible en libre accès sur notre compte <a href="https://github.com/accessibilite/accessibilite.github.io">Github</a>.</div>
													<div class="text_handicap">L’utilisateur voit ensuite apparaître une carte personnalisée des arrondissements parisiens, hierarchisés par couleur en fonctions de leur compatibilité avec ses choix exprimés : plus la couleur est foncée, plus l’arrondissement est adapté aux choix de l’utilisateur, avec en rouge l’arrondissement le plus compatible. </div>

													</div>
												</div>
											</div>
										  </div>
										</main>
								  
									  </div>
								</article>
								
								
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Sticky Kit -->
	<script src="js/sticky-kit.min.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="js/main.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/arrondissements/quiz.js"></script>
    <script src="js/arrondissements/data.js"></script>
    <script src="js/arrondissements/utilities.js"></script>
    <script src="js/arrondissements/index.js"></script>
	</body>
</html>

