/* #map {
    width: 100%;
} */

/* #card_question {
    display:none;
} */

label {
    margin-left: 10px;
    margin-top: 10px;
}

.outlined:hover{
        outline-color: rgb(0, 0, 255);;
        outline-style: solid;
        outline-width: 10px;
        outline-offset: -10px;
}

.video_handicap {
    margin-top:30px;
    margin-bottom: 30px;
}

iframe {
    margin-top: 30px;
}

.text_handicap {
    margin-top: 30px;
   
}
.result  {
    text-align: left;
} 

.title_handicap {
    margin-top: 20px;
    text-align: center;
}
.article_handicap {
    text-align: left;
}

button { cursor:pointer; }
button:active {
    outline: none;
    border: none;
    }
    
    button:focus {outline:0;}

.invisible {
    display:none;
}

.question{
    float: none;
    margin: 0 auto;
}

.education, .politique, .loisirs, .sport {
    display:none;
    
    align-items: center;
 
    position: relative;
}

#education, #politique, #loisirs, #sport {
    font-size: 14px;
    /* width: 24%;
    height: 50px; */
    /* background-color: #effbff;
    color:#008CBA; */
    background-color: #fbfbfb; 
    color: #222731;
    margin-bottom: 7px;

}

article .desc {
    padding-bottom: 0em !important;
}
#education:hover, #politique:hover, #loisirs:hover, #sport:hover {
    background-color: #008CBA;
    color:#effbff;
}

.item {
    /* margin: 10px; */
    text-align: left;
}

.jumbotron {
    background-color: #222731  !important;
    border: 1px solid #979797;
    border-top: none;
    border-radius: 0 !important;
    overflow: visible;
    text-align: center;
}

header h1 {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.intro p {
    opacity: 0.9;
    font-size: 16px;
    color: #222731;
    letter-spacing: 0;
    padding-bottom: 20px;
    margin:0 auto;

}

#app {
    margin-bottom: 20px;

}

.card-header, .btn, input {
    font-size: 17px;
    padding: 20px;
}

.card-text {
    font-size: 17px;

}

input {
    min-height: 30px;
}

.card {
    border: none;
}

.card-header {
    /* margin-top:20px; */
    margin-bottom: 10px;
    text-align: center;
}

.choice, .start {
    margin-top:20px; 
    background-color: #e7e7e7; 
    color: #222731;
    /* width:90% */
}

.start {
    float: none;
    margin: 0 auto;
}
.question, .start {
    width:90%
}

.start {
    margin-top: 30px;
}
.next {
    margin-top:30px; 
    background-color: #e7e7e7; 
    color: #222731;
    width:100%
}

.maj {
text-transform: uppercase;
font-Weight: Bold;
}
.data {
   text-align:left !important;
}

button, input  {
    white-space: normal !important;
    word-wrap: break-word;
}

.toCenter {
    margin-top: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}


.choice:hover, .start:hover {
    background-color: #008CBA;
    color: white;
}

 #app {
    padding-top:0em;
    text-align: center;
 /*   margin-top: 20px;
    */
} 

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

